.container-graficoInicial{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 2%;
    margin-bottom: 24px;
}

.lista-modelos{
    background-color: white;
    border-radius: 10px;
}

.table-scroll{
    max-height:350px;
    overflow-y:auto;
    margin-top:15px;
    padding-right:8px;
}

.table-scroll::-webkit-scrollbar{
    width:8px;
}

.table-scroll::-webkit-scrollbar-thumb{
    background:#c7cedb;
    border-radius:10px;
}

.table-scroll::-webkit-scrollbar-track{
    background:transparent;
}

.modelo-table{
    width:100%;
    border-collapse:separate;
    border-spacing:0 12px;
}

.modelo-table th,
.modelo-table td{
    padding:14px;
    text-align:center;
    font-weight:bolder;
}

.modelo-table thead th{
    position:sticky;
    top:0;
    background:white;
    z-index:100;
    box-shadow:0 2px 4px rgba(0,0,0,0.08);
}

.modelo-table tbody td{
    padding:12px;
}

.ok-bg{
    background-color:#dcfce7;
    color:#166534;
    border-radius:10px;
}

.warning-bg{
    background-color:#fef3c7;
    color:#92400e;
    border-radius:10px;
}

.critical-bg{
    background-color:#fee2e2;
    color:#991b1b;
    border-radius:10px;
}

.kpiImg {
    width: 40px;
    height: 40px;
}

.kpiModelo{
  color: #13347b;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  border-bottom: #13347b solid 4px;
  transition: transform ease 0.3s;
  width: 600px;
  height: 200px;
  gap: 2%;
}

.kpiModelo:hover {
  transform: scale(1.03);
}

.displayFlex {
  display: flex;
  gap: 2%;
}

.container-graficos1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.container-graficos2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2%;
}

.modeloGrafico {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
}

#containerGraficoPizza {
    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 4%;
}

.imgGrafico {
    width: 50px;
    height: 50px;
}

.tituloGrafico {
    color: #13347b;
    margin: 0; 
    align-self: center;
}

#containerCardsModulos {
    display: flex;
    gap: 2%;
    overflow-x: auto;
}

#containerCardsModulos::-webkit-scrollbar{
    height: 8px;
}

#containerCardsModulos::-webkit-scrollbar-thumb{
    background:#c7cedb;
    border-radius:10px;
}

#containerCardsModulos::-webkit-scrollbar-track{
    background:transparent;
}

#containerCardsModulos::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#ref-modulo {
    text-decoration: none;
}

#ref-modulo:hover {
    transform: scale(1.03);
}

.card-score {
    border: #13347b solid 2px;
    border-color: #CAD1DA;
    border-radius: 10px;
}