.barraPesquisa {
  gap: 2%;
}

.opcaoMonitores {
  color: #13347b;
  border: none;
  width: 70%;
  border-radius: 10px;
  gap: 2%;
  margin-right: 2%;
}

.botaoPesquisar {
  border: none;
  color: #13347b;
  border-radius: 8px;
  background-color: #ddf5f1;
  transition: transform ease 0.3s;
  font-weight: 500;
  width: 30%;
}

#select1 {
  display: block;
}

#select2 {
  display: none;
}

.botaoPesquisar:hover {
  background-color: #4169e1;
  border: none;
  color: #ddf5f1;
  transform: scale(1.03);
  font-weight: 500;
}

@media (max-width: 480px) {
  .barraPesquisa {
    width: 300px;
  }

  #select1 {
    display: none;
  }

  #select2 {
  display: block;
}
}
