* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}



.main {
    margin-left: 240px;
    padding: 25px;
}


.topo {
    margin-bottom: 25px;
}

.topo h1 {
    color: #163599;
}


.kpis {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.card-kpi {
    flex: 1;
    min-width: 200px;
    background-color: white;
    color: #13347b;
    height: 110px;
    padding: 18px;
    border-radius: 10px;
    border-bottom: #13347b solid 4px;
    box-shadow: 0 2px 5px lightgray;
    transition: transform ease 0.3s;
}

.card-kpi:hover {
    transform: scale(1.03);
}

.card-kpi p {
    color: #13347b;
    margin: 0;
    font-size: 14px;
}

.card-kpi h2 {
    color: #13347b;
    font-weight: bold;
    margin-top: 8px;
}


.grafico {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 5px lightgray;
    height: 420px;
}

#graficoRede {
    width: 100% !important;
    height: 330px !important;
}

.listas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-lista {
    flex: 1;
    min-width: 320px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightgray;
}



.item {
    border: none;
    border-bottom: #13347b solid 4px;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    background-color: white;
    color: #13347b;
    display: block;
    transition: transform ease 0.3s;
    box-shadow: 0 2px 5px lightgray;
}

.item:hover {
    transform: scale(1.01);
    background-color: #f5f5f5;
}


.critico {
    color: red;
    font-weight: bold;
}

.alerta {
    color: orange;
    font-weight: bold;
}

.normal {
    color: green;
    font-weight: bold;
}


#listaAlertas,
#listaTempo {
    height: 220px;
    max-height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 8px;
}