@import url('https://fonts.cdnfonts.com/css/centrale-sans-regular');


body {
  font-family: 'Centrale Sans Regular', sans-serif;
}


/* -------------------------- Start FOOTER --------------------------*/
.footer {
  width: 100%;
  height: 16rem;
  background: #2260E1;
  color: #ffffff;
  display: flex;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
}

.footer .footer_left {
  display: flex;
  margin: 2rem;
  justify-content: space-around;
}

.nossos {
  flex-direction: column;
  width: 15rem;
  height: 10rem;
  margin-right: 2rem;
  list-style: none;

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  img {
    height: 2.3rem;
    width: 2.3rem;
  }
}

.footer .footer_right {
  display: flex;
  justify-content: space-around;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.footer .dados {
  margin: 2rem 5rem 0 2rem;

}

.footer_linha {
  width: 3px;
  height: 15rem;
  background-color: #ffffff;
  border-radius: 3px;
  align-self: center;
}

/* --------------------------- End FOOTER ---------------------------*/

/* ------------------------- Start CADASTRO -------------------------*/


/* -------------------------- End CADASTRO --------------------------*/

/* Novo estilo do index */

.background-img-banner {
  background-image:
    linear-gradient(to top, transparent 10%, #4169e1 90%),
    url("../assets/vital-signs-in-the-operating-room - Editado.png");
  background-size: cover;
  padding-bottom: 48px;
}

body {
  font-family: "Poppins", sans-serif;

}

.body2 {
  padding: 4.8%;
}

.botao {
  border: none;
  background-color: #DDF5F1;
  border-radius: 10px;
  font-weight: 550;
  transition: transform 0.3s ease;
}

.botao:hover{
  background-color: #D4C11C;
  transform: scale(1.03);
}

.botao_nav {
  color:#DDF5F1
}

.botao_nav:hover {
  color: #13347b;
}

.titulo {
  width: 100%;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  color: white;
  font-size: 4vh;
  font-weight: bold;
  transition: transform 0.3s ease;
  cursos: pointer;
}

 .animacao:hover{
  transform: scale(1.03);
}

.texto-card {
  font-size: 2.2vh;
  color: #13347b;
}

.texto {
  color: #13347b;
}

.secao {
  position: relative;
  padding: 70px 0;
}

.secao::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 90%;
  background: linear-gradient(135Deg, #2f5bd3, #1e3c88);
  z-index: 0;
}

.imgDesenho {
  transition: transform 0.3sec ease;
}

.imgDesenho:hover {
  transform: scale(1.03);
}

.container {
  max-width: 1200px;
}

.secao .container {
  position: relative;
  z-index: 1;
}

.texto-banner {
  color: white;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.cardEspacamento {
  padding: 3%;
  gap: 2%;
  justify-content: space-around;

}
.footerAnimacao{
  cursor: pointer;
}

.footerAnimacao:hover {
  color: #D4C11C;
}

footerColor {
  color: #ffffff!important;
}
.nomeFooter{
  text-decoration: none;
  color: inherit!important;
}

.carousel-item img {
  height: 650px;
  object-fit: cover;
}

.div_duvidas {
  padding: 5%;
  min-width: 90%none;
}

.btn-duvida{
  color: #2260E1;
  text-decoration: none;
  border: none;
  background: none;
}

.btn-duvida:hover {
  transform: scale(1.05);
  font-weight: bold;
}


/* aqui termina o novo estilo do index */

/* estilo do cadastroFuncionario */
.login{
  color: #13347b;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .login .container{
  display: flex;
  justify-content: center;
  padding: 5%;
}

.cardFormulario{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 5%;
}

.campo{
  margin-top: 2%;
  margin-bottom: 2%;
}

.inputCadastro{
  border-radius: 10px;
  border: 1px solid #828282;
  width: 60%; 
  padding: 0.8%;
}

.selectCadastro{
  border: none;
  border-radius: 10px;
  width: 60%;
  height: 32px;
  color: #13347b;


}

.botaoCadastrar{
  border-radius: 10px;
  border:#13347b 2px solid;
  background-color: transparent;
  width: 30%;
  height: 32px;
  color: #13347b;
  transition: transform 0.3s ease;
}

.botaoCadastrar:hover{
  transform: scale(1.03);
  color: #D4C11C;
  border: #D4C11C 2px solid;
}